<!-- Header (Full) Template -->

<nav class="navbar navbar-expand-md navbar-dark text-light fst-italic">
	<div class="container align-items-baseline">

	<!-- Logo -->
		<a class="navbar-brand text-lowercase fs-1 clickable">ft_transcendence</a>

	<!-- Menu -->
		<div>
			<button id="navbar-toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- navbar list -->
			<div class="navbar-collapse collapse" id="navbarMenu">
				<ul id="navbar-list" class="navbar-nav justify-content-end align-items-end  flex-grow-1 pe-3">

					<!-- Player profile -->
					<li class="nav-item active">
						<a id="profileButton" class="nav-link fst-italic clickable" aria-current="page" data-translate="profile"></a>
					</li>

					<!-- Play -->
					<li class="nav-item">
						<a id="play-button" href="#game-menu" class="nav-link" data-translate="play"></a>
					</li>

					<!-- Leaderboard -->
					<li class="nav-item">
						<a id="leaderboardButton" href="#leaderboard" class="nav-link" data-translate="leaderboard"></a>
					</li>

					<!-- Language choice menu -->
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="modal" data-bs-target="#languageModal" data-translate="language"></a>
					</li>

					<!-- Logout -->
					<li class="nav-item">
						<button id="logoutButton" class="nav-link">
							<i class="bi bi-box-arrow-right"></i>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>

<!-- END of Header (Full) Template -->