Django
django-cors-headers

#In order to use Postgresql
psycopg
psycopg-binary


gunicorn 	# wsgi server
# daphne 		# asgi server


Pillow		#Image processing (mandatory to use models.ImageField)


djangorestframework
djangorestframework-simplejwt

# channels	# websockets