<!-- Leaderboard Template -->

<div class="container mt-5">
	<h1 class="d-flex justify-content-center mb-4" data-translate="leaderboard"></h1>
	<table class="table table-striped">
		<thead>
			<tr class="text-center">
				<th colspan="2" class="bg-transparent"></th>
				<th data-translate="totalwon"></th>
				<th data-translate="totallost"></th>
				<th data-translate="totalplayed"></th>
			</tr>
		</thead>
		<tbody id="leaderboard-table"></tbody>
	</table>
</div>

<!-- END of Leaderboard Template -->