<div id="login-box" class="container d-flex flex-column justify-content-center align-items-center h-100 border border-white">
	<p id="login-message" class="mb-3"></p>
	<form id="login-form" >
		<div class="mb-3">
			<label for="username" class="form-label" data-translate="username"></label>
			<input type="text" class="form-control" id="username" required>
		</div>
		<div class="mb-3">
			<label for="password" class="form-label" data-translate="password"></label>
			<input type="password" class="form-control" id="password" required>
		</div>
		<button type="submit" class="btn btn-primary">Login</button>
	</form>
</div>