<div id="registration-box" class="container d-flex flex-column justify-content-center align-items-center h-100">
	<form id="registerForm" class="d-flex flex-column align-items-center">
		<h2 data-translate="registertitle" class="mb-5"></h2>
		<p id="registermessage"></p>
		<div>
			<label for="username" class="form-label w-100 text-center" data-translate="username">Username:</label>
			<input type="text" id="username" class="form-control" name="username" required><br><br>
		</div>
		<div>
			<label for="email" class="form-label w-100 text-center" data-translate="email">Email:</label>
			<input type="email" id="email" class="form-control" name="email" required><br><br>
		</div>
		<div>
			<label for="password" class="form-label w-100 text-center" data-translate="password">Password:</label>
			<input type="password" id="password" class="form-control" name="password" required><br><br>
		</div>
		<button type="button" id="registerSubmitButton" class="btn btn-secondary" data-translate="registertitle"></button>
	</form>

	<!-- Buton to login page -->
	<div class="d-flex flex-column align-items-center">
		<p class="mt-5" data-translate="alreadyaccount"></p>
		<button id="loginButton" data-translate="log_in"></button>
	</div>
</div>







