<!-- END of OTP Template -->

<div class="container d-flex flex-column justify-content-center align-items-center h-100">
	<h2 data-translate="otp_verify_title" class="mb-5"></h2>
	<p id="otp_not_mandatory" data-translate="otpnotmandatory"></p>
	<button id="otp_not_mandatory_button" class="p-2" data-translate="ignoreotp"></button>
	<div id="otp_qr_code" class="mb-5"></div>
	<p id="otp_message" class="text-danger"></p>
	<div>
		<label for="username" class="form-label w-100 text-center">OTP:</label>
		<input type="text" id="otp_input" class="form-control"><br><br>
	</div>
	<button type="button" id="otp_verify_btn" class="btn btn-secondary" data-translate="otp_verify_cta"></button>
</div>

<!-- END of OTP Template -->