<!-- Change Avatar Template -->

<div id="profileAvatarModal" data-bs-toggle="modal" data-bs-target="#emptyModal"></div>

<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
	<div class="modal-content ft_box_bg">
		
		<!-- modal header -->
		<div class="modal-header">
			<h5 class="modal-title ms-5" id="avatarEditorLabel" data-translate="editavatar"></h5>
			<button class="btn-close" id="changeAvatarCloseButton" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>

		<!-- modal body -->
		<div class="modal-body d-flex flex-row justify-content-center gap-5" id="changeAvatarContainer" >
			<div id="changeAvatarPreview"></div>
			<input type="file" id="changeAvatarFileInput" accept="image/*" style="display: none;"/>
			<button id="changeAvatarUploadButton" data-translate="uploadFile"></button>
		</div>

		<!-- modal footer -->
		<div class="modal-footer d-flex justify-content-center">
			<button id="changeAvatarConfirmButton" data-translate="confirm"></button>
		</div>
	</div>
</div>

<!-- END of Change Avatar Template -->