<!-- Match History Template -->

<div id="matchHistoryModal" data-bs-toggle="modal" data-bs-target="#emptyModal"></div>

<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
	<div class="modal-content ft_box_bg">
		
		<!-- modal header -->
		<div class="modal-header">
			<h5 class="modal-title" id="matchHistoryLabel" data-translate="matchhistory"></h5>
			<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>

		<!-- modal body -->
		<div class="modal-body">
			<table id="matchHistoryTable" class="table">
		</div>
	</div>
</div>

<!-- END of Match History Template -->