<div class="container h-100 w-100 justify-content-center bg-secondary">
	<div class="d-flex justify-content-center row border border-red">

		<!-- Avatar -->
		<div class=" col-12 col-md-3 border border-white">

			<!-- Avatar box must be adjusted  -->
			<div id="profileAvatar" class="avatar-container">

			</div>
			
		</div>

		<!-- User is online/offline status -->
		<div id="profileOnlineStatus" class="col-12 col-md-2">
			Online
		</div>

		<!-- Username & account creation date -->
		<div class="col-12 col-md-7 border border-white">
			
			<p id="profileUsername" class="fw-bold fs-3"></p>
			<p>
				<span data-translate="member_since"></span>
				<span id="profileMemberSince"></span>
			</p>
		</div>

	<!-- Biography or Desciption,not mandatory -->
	</div>
	<div class="row d-flex justify-content-end">
		<div id="profileBiography" class="col-7 d-flex justify-content-center">Hello there</div>
	</div>

	<!-- Overall scores (Wins, Losses, leaderboard rank,...) -->
	<div class="row">
		<p id="profileMatchOverview" class="d-flex justify-content-center">Match results overview</p>
	</div>
</div>