<!-- Select Game Mode Template -->

<h1 class="text-center" data-translate="selectgamemode"></h1>
<div class="container">
	<div class="row">
		<div class="col-12 col-md-4">
			<a class="text-decoration-none text-center text-white" href="#pongvsbot">
				<img class="mw-100" src="../img/marvin.png" alt="vs Bot" width="300" height="200">
				<p class="" data-translate="versusbot"></p>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a class="text-decoration-none text-center text-white" href="#pongvsman">
				<img class="mw-100" src="../img/pongvsman.png" alt="vs Man" width="300" height="200">
				<p class="text-center ft_font_orbitron" data-translate="versushuman"></p>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a class="text-decoration-none text-center text-white" href="#tournament">
				<img class="mw-100" src="../img/tournament.png" alt="tournament" width="300" height="200">
				<p class="text-center" data-translate="tournament"></p>
			</a>
		</div>
	</div>
</div>

<!-- END of Select Game Mode Template -->