<!-- Tournament Brackets Template -->

<div class="container text-center">

	<!-- Brackets -->
	<div id="bracketsContainer" class="row container justify-content-center p-2">

		<!-- match 1 -->
		<div class="col-12 col-md-3 border m-2">
			<h3 data-translate="firstmatch"></h3>
			<div id="bracketMatch1" class="border"></div>
		</div>

		<!-- match 3 (final)-->
		<div class="col-12 col-md-3 border m-2">
			<h3 data-translate="finalmatch"></h3>
			<div id="bracketMatch3" class="border"></div>
		</div>

		<!-- match 2 -->
		<div class="col-12 col-md-3 border m-2">
			<h3 data-translate="secondmatch"></h3>
			<div id="bracketMatch2" class="border"></div>
		</div>
	</div>

	<!-- message part -->
	<div class="container p-2">
		<h2 id="tournamentBracketMessageTitle"></h1>
		<p id="tournamentBracketMessageContent" class="fw-bold"></p>
	</div>

	<!-- button part -->
	<div class="container text-center p-2">
		<button id="tournamentBracketButton"></button>
	</div>

</div>

<!-- END of Tournament Brackets Template -->